<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="public/stylesheets/index.css">
  <style>
    /* Start Global Rules */
    * {
      box-sizing: border-box;
    }

    body {
      /*font-family: 'Open Sans', sans-serif;?*/
      font-family: "Oleo Script", system-ui;
      font-weight: 400;
      font-style: normal;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    /* Small */
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }

    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }

    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }

    /* End Global Rules */

    /* Start Landing Page */
    .landing-page header {
      min-height: 80px;
      display: flex;
    }

    @media (max-width: 767px) {
      .landing-page header {
        min-height: auto;
        display: initial;
      }
    }

    .landing-page header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      .landing-page header .container {
        flex-direction: column;
        justify-content: center;
      }
    }

    .landing-page header .logo {
      color: #ffffff;
      font-style: italic;
      text-transform: uppercase;
      font-size: 20px;
    }

    @media (max-width: 767px) {
      .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .landing-page header .links {
      display: flex;
      align-items: center;
    }

    @media (max-width: 767px) {
      .landing-page header .links {
        text-align: center;
        gap: 10px;
      }
    }

    .landing-page header .links li {
      margin-left: 30px;
      color: #ffffff;
      cursor: pointer;
      transition: .3s;
    }

    @media (max-width: 767px) {
      .landing-page header .links li {
        margin-left: auto;
      }
    }

    .landing-page header .links li:last-child {
      font-family: 'Open Sans', sans-serif;
      border-radius: 20px;
      padding: 10px 20px;
      color: #000000;
      background-color: #ffffff;
      border: solid 2px black;
    }

    .landing-page header .links li:hover{
      background-color: #000000;
      color: white;
      transition: 0.5s;
    }

    .landing-page header .links li:not(:last-child):hover {
      color: #6c63ff;
    }

    .landing-page .content .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 140px;
      min-height: calc(100vh - 80px);
    }

    @media (max-width: 767px) {
      .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
      }
    }

    @media (max-width: 767px) {
      .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px
      }
    }

    .landing-page .content .info h1 {
      color: #ffffff;
      font-size: 60px;
    }

    .landing-page .content .info h2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #ffffff;
      font-size: 25px;
      text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.2), /* Shadow effect 1 */
        -2px -2px 4px rgba(0, 0, 0, 0.2), /* Shadow effect 2 */
        2px -2px 4px rgba(0, 0, 0, 0.2), /* Shadow effect 3 */
        -2px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect 4 */
    }

    .landing-page .content .info p {
      margin: 0;
      line-height: 1.6;
      font-size: 20px;
      color: #ffffff;
    }

    .landing-page .content .info button {
      border: solid 1px rgb(0, 0, 0);
      border-radius: 15px;
      padding: 12px 60px;
      margin-top: 10px;
      margin-right: 30px;
      cursor: pointer;
      background-color: #b3dfff;
      color: #174566;
      border: solid 2px #174566;
      font-size: medium;
    }

    .landing-page .content .info button:hover{
      color: #ffffff;
      background-color: #174566;
      transition: 0.5s;
      border: solid 2px #b3dfff;
    }

    .landing-page .content .image img {
      max-width: 100%;
    }

    @keyframes body {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0 50%;
      }
    }

    body {
      background: linear-gradient(to right,

          #f74d4d,
          #f7a74d,
          #f7e14d,
          #a4f74d,
          #4df7a7,
          #4df7e1,
          #4d7af7,
          #6d4df7,
          #9e4df7,
          #d14df7);
      background-size: 400% 400%;
      animation: body 10s infinite ease-in-out;

    }

    /* End Landing Page */
  </style>
</head>

<body>
  <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo"><b>Docs4Doc</b></a>
        <ul class="links">
          <a href="/">
            <li>Home</li>
          </a>
          <a href="/about">
            <li>About Us</li>
          </a>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>DOCS4DOC</h1>
          <p>We endeavor to revolutionize the management of medical records, elevating the quality of healthcare services while ensuring the utmost safety and seamless accessibility of medical documents for both patients and healthcare providers.</p><br><br><br>

          <h2>LOGIN AS:</h2>
          <a href="/register"><button>PATIENT</button></a>
          <a href="/doctor/login"><button>DOCTOR</button></a>
          <a href="/admin-login"><button>ADMIN</button></a>
        </div>

        <div class="image">
          <img src="../images/vector1.jpg">
        </div>
      </div>



    </div>
  </div>
  <!-- End Landing Page -->

  <!-- <script src="/public/scripts/"></script> -->
</body>

</html>